<h1>Add a Store</h1>
<form action="/stores/new" method="post">
  <div class="form-group">
    <label for="name">Name: </label>
    <input id="name" name="name" type="text"  class="form-control">
  </div>
  <button type="submit" class="btn btn-primary">Save</button>
</form>
